<h1>About</h1>
<p>
  <%= link_to "Tattoos of Crossfit", "#" %>
  is a page dedicated to the beautiful tattoo work on CrossFit Athletes. This page is dedicated 
  to all types of tattoos big or small..post your tattoos on the feed and lets show off our 
  ARTWORK.
</p>
